@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #ECEEF1;
    line-height: 1.5;
    height: 100%;
    width: 100%;
}


/* ---- NAV-BAR ---- */

.nav-bar {
    display: flex;
    justify-content: right;
    padding: 10px 20px;
}

.nav-bar p {
    font-size: 12px;
    color: #7d7e81;
    line-height: 1.5;
    padding: 0 10px;
}

.nav-bar button {
    font-size: 14px;
    padding: 5px;
    padding-right: 20px;
    border: 1px solid #393A3D;
}

/* -------- */


/* ---- HEADING  ---- */

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading ul li {
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 10px;
}

/* -------- */


/* ---- FORM ---- */

.form-container {
    width: 380px;
    height: 80%;
    background-color: #fff;
    margin: auto;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #c7c7c7;
}

#form-main {
    padding: 30px;
}

header {
    text-align: center;
}

header h2 {
    font-size: 24px;
    font-weight: 400;
    color: #393A3D;
}

header p {
    padding: 20px 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    color: #7d7e81;
}

.account-info label {
    font-size: 14px;
    display: block;
    margin-bottom: 35px;
}

label span {
    color: #7d7e81;
    font-size: 14px;
}

label p {
    color: #56575a;
    font-size: 10px;
    margin-top: 8px;
}

input {
    background: #fff;
    border: 1px solid #c6c7cc;
    border-radius: 3px;
    padding: 6px;
    margin-top: 12px;
    width: 100%;
}

.account-action {
    display: flex;
    flex-direction: column;
    text-align: center;
}

button {
    background-color: #0077C5;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
}

button i {
    padding: 0 8px;
}

#agree {
    padding-top: 25px;
    font-style: italic;
    font-size: 12px;
    color: #7d7e81;
    line-height: 1.5;
}

/* -- footer inside the form -- */

#form-captcha {
    font-size: 10px;
    color: #7d7e81;
    padding: 25px;
    background-color: #ECEEF1;
}

a {
    text-decoration: none;
    color: rgb(2, 134, 211);
}

a:hover {
    text-decoration: underline;
}

/* -------- */


/* ---- PAGE FOOTER ---- */

footer {
    width: 100%;
    text-align: center;
}

footer ul li {
    padding: 0 10px;
    font-size: 12px;
    display: inline-block;
    justify-content: center;
}

footer a {
    color: #6d6f74;
}

#first {
    font-size: 12px;
    color: #6d6f74;
    line-height: 1.5;
    margin-top: 30px;
    margin-bottom: 60px;
}

#second {
    font-size: 12px;
    color: rgb(2, 134, 211);
    text-align: left;
    padding: 20px;
    background-color: #FFFF;
    width: 100%;
}

/* -------- */